.thumbnail {
    width: 300px;
    display: block;
}

.searchBar {
    font-size: 20px;
    display: block;
}

.video-title {

}

.video-preview {
    display: inline-block;
    width: 300px;
    vertical-align: top;
    margin-right: 15px
}

